*{
  padding:0;
  margin:0;

}



.fakeimg {
  height: 200px;
  background: #aaa;
}


body{
  width:100%
  height:auto;
  background-color: #baa690;

}

.text-image h1{
  font-family: 'Kaushan Script', cursive;
  style:bold;
}


.navbar-toggler{
  background-color: #a89276;
}

.navbar {
  background-color: #a89276;
  font-family: 'DM Sans', sans-serif;
  text-transform: uppercase;
  overflow:hidden;
  position: relative;
}


.navbar-brand{
  width:10%;
  height:10%;


}
/*header image part*/
.title-image img{
  width:100%;
}
.text-image{
  width:100%;
  position:absolute;
  margin-top: -50%;

}
/*Your study abroad roommate title*/
.text-image h1{
  text-align:center;
  color:white;
  font-size:10vw
  /*font-famly:*/
}

.jumbotron {
  background-color: #dfd1bf;
  color: #fff;
  padding: 100px 25px;
}
